.thread-status, .thread-status1, .thread-status2 {
  padding: 0;
}

.thread_status{
	position:relative;
	margin:0px;
	text-align:center;
	width:24px;
	color: #555;
}

.thread_status:before{
}

.thread_status:after{
	position:reltive;
	font-family:'FontAwesome';
	content:"\f075";
	font-size:15px
}

span[data-thread-status-hot*="hot"],span[data-thread-status-sticky="1"],
span[data-thread-status-closed="1"],span[data-thread-status-deleted="-1"],span[data-thread-status-unapproved="0"],
span[data-thread-status-moved="0"],span[data-thread-status-poll]:not([data-thread-status-poll="0"]){
  display:inline-block !important
}

.thread_status_icons > *{
  display:none;
  padding:3px 5px;
  font-size:9px;
  text-transform:uppercase
}

.thread_status_icons {
	display: none;
}

.thread_status[class*="lock"]:after{
	content:"\f023";
}

.thread_status[class*="dot"]:after{
	content:"\f0e6"
}

.dot_hotfolder:after,.dot_newhotfolder:after,.hotfolder:after,.newhotfolder:after{
	content:"\f06d"
}

.dot_newfolder:after,.newfolder:after{
	content:"\f075"
}

.movefolder:after{
	content:"\f08e"
}

*[class*="hot"]:after{
	color:#D9534F
}

*[class*="new"]:after{
	color:#5CB85C
}

		
		
		